{% extends 'src/base.html' %}
{% block content %}

<h2> Add User </h2>
<div style="width:500px;">
  <form method="post">
    <div class="form-group row">
      <label for="course-code" class="col-6 col-form-label">Course Code</label>
      <input class="form-control" type="text" value="{{courseCode}}" id="course-code" name="course-code">
    </div>
<div class="form-group row">
  <label for="name" class="col-6 col-form-label">Course Name</label>
  <input class="form-control" type="text" value="{{courseName}}" id="name" name="name">
</div>
<div class="form-group row">
  <label for="course-coordinator" class="col-6 col-form-label">Course Coordinator</label>
  <input class="form-control" type="text" value="{{courseCoordinator}}" id="course-coordinator" name="course-coordinator">
</div>
<div class="form-group row">
  <label for="start-date" class="col-6 col-form-label">Start Date</label>
  <input class="form-control" type="date" value="{{courseStartDate}}" id="start-date" name="start-date">
</div>
  <label for="end-date" class="col-6 col-form-label">End Date</label>
  <input class="form-control" type="date" value="{{courseEndDate}}" id="end-date" name="end-date">
<div class="form-group row">
  <input class="form-control" type="submit" value="Submit">
</div>
</form>
</div>

{% endblock %}
