{% extends 'src/base.html' %}
{% block content %}

<h2> Add a new Activity </h2>
<div style="width:500px;">
  <form method="post">
    <div class="form-group row">

    <div class="form-group row">
      <label for="activity-name" class="col-6 col-form-label">Activity Name</label>
      <input class="form-control" type="text" value="" id="activity-name" name="activity-name">
    </div>

<div class="form-group row">
  <label for="staff" class="col-6 col-form-label">Staff</label>
  <input class="form-control" type="text" id="staff" name="staff">
</div>

<div class="form-group row">
  <label for="students" class="col-6 col-form-label">Students</label>
  <input class="form-control" type="text" id="students" name="students">
</div>

<div class="form-group row">
  <label for="location" class="col-6 col-form-label">Location</label>
  <input class="form-control" type="text" id="location" name="location">
</div>


<div class="form-group row">
  <label for="date" class="col-6 col-form-label">Date</label>
  <input class="form-control" type="date" id="date" name="date">
</div>


<div class="form-group row">
  <label for="date" class="col-6 col-form-label">Time</label>
  <select class="form-control" id="time" name="time">
    {% for i in timesAvailable %}
      <option>
        {{i}}
      </option>
      {% endfor %}
  </select>
</div>

<div class="form-group row">
  <label for="duration" class="col-6 col-form-label">Duration</label>
  <select class="form-control" id="duration" name="duration">
    {% for i in durationsAvailable %}
      <option>
        {{i}}
      </option>
      {% endfor %}
  </select>
</div>

  <input class="form-control" type="submit" value="Submit">
</form>
</div>

{% endblock %}
