{% extends 'src/base.html' %}
{% block content %}

<h2> Add a new Task </h2>


<form method="post">
  <div class="form-group row">
    <label for="course-id" class="col-6 col-form-label">Course ID</label>
    <input class="form-control" type="text" value="" id="course-id" name="course-id">
  </div>
  <div class="form-group row">
    <label for="course-name" class="col-6 col-form-label">Course Name</label>
    <input class="form-control" type="text" value="" id="course-name" name="course-name">
  </div>

<div class="form-group row">
<label for="task-id" class="col-6 col-form-label">Task ID</label>
<input class="form-control" type="text" value="" id="task-id" name="task-id">
</div>
<div class="form-group row">
  <label for="task-name" class="col-6 col-form-label">Task Name</label>
  <input class="form-control" type="text" value="" id="task-name" name="task-name">
</div>

<div class="form-group row">
<label for="activity-id" class="col-6 col-form-label">Activity ID</label>
<input class="form-control" type="text" value="" id="activity-id" name="activity-id">
</div>
  <div class="form-group row">
    <label for="activity-name" class="col-6 col-form-label">Activity Name</label>
    <input class="form-control" type="text" value="" id="activity-name" name="activity-name">
  </div>

<div class="form-group row">
<label for="staff" class="col-6 col-form-label">Staff</label>
<input class="form-control" type="text" id="staff" name="staff">
</div>

<div class="form-group row">
<label for="students" class="col-6 col-form-label">Students</label>
<input class="form-control" type="text" id="students" name="students">
</div>

<div class="form-group row">
<label for="location" class="col-6 col-form-label">Location</label>
<input class="form-control" type="text" id="location" name="location">
</div>

<div class="form-group row">
  <label for="day" class="col-6 col-form-label">Day</label>
  <select class="form-control" id="day" name="day">
    <option>
      Monday
    </option>
    <option>
      Tuesday
    </option>
    <option>
      Wednesday
    </option>
    <option>
      Thursday
    </option>
    <option>
      Friday
    </option>
    <option>
      Saturday
    </option>
    <option>
      Sunday
    </option>
  </select>
</div>

<div class="form-group row">
  <label for="repeating" class="col-6 col-form-label">Day</label>
  <input class="form-control" type="checkbox" value="" id="repeating" name="repeating">
</div>

<div class="form-group row">
  <label for="frequency" class="col-6 col-form-label">Day</label>
  <select class="form-control" id="frequency" name="frequency">
    <option>
      Daily
    </option>
      <option>
        Weekly
      </option>
        <option>
          Fortnightly
        </option>
          <option>
            Monthly
          </option>
  </select>
</div>
</form>

{% endblock %}
