{% extends 'src/base.html' %}
{% block content %}

<h2> Add a new Task </h2>
<div style="padding:20px;">
<form method="post">

  <div style="width:250px">
<div class="form-group row">
  <label for="task-name" class="col-6 col-form-label">Task Name</label>
  <input class="form-control" type="text" value="" id="task-name" name="task-name">
</div>

<div class="form-group row">
<label for="staff" class="col-6 col-form-label">Staff</label>
<input class="form-control" type="number" id="staff" name="staff">
</div>

<div class="form-group row">
<label for="students" class="col-6 col-form-label">Students</label>
<input class="form-control" type="number" id="students" name="students">
</div>

<div class="form-group row">
<label for="location" class="col-6 col-form-label">Location</label>
<input class="form-control" type="text" id="location" name="location">
</div>

<label for="date">Time</label>
<select class="form-control" id="time" name="time">
  {% for i in timesAvailable %}
    <option>
      {{i}}
    </option>
    {% endfor %}
</select>

<label for="duration">Duration</label>
<select class="form-control" id="duration" name="duration">
  {% for i in durationsAvailable %}
    <option>
      {{i}}
    </option>
    {% endfor %}
</select>

<div class="form-group row">
  <label for="day" class="col-6 col-form-label">Day</label>
  <select class="form-control" id="day" name="day">
    <option>
      Monday
    </option>
    <option>
      Tuesday
    </option>
    <option>
      Wednesday
    </option>
    <option>
      Thursday
    </option>
    <option>
      Friday
    </option>
    <option>
      Saturday
    </option>
    <option>
      Sunday
    </option>
  </select>
</div>

<div class="form-group row">
  <label for="frequency" class="col-6 col-form-label">Day</label>
  <select class="form-control" id="frequency" name="frequency">

      <option value="Weekly">
        Weekly
      </option>
        <option value="Fortnightly">
          Fortnightly
        </option>
          <option value="Monthly">
            Monthly
          </option>
  </select>
</div>
</div>
<input type="submit" value="Submit"  style="width:100px;margin:10px;">
</form>
</div>
{% endblock %}
