{% extends 'src/base.html' %}

{% block content %}

<style>
td a {
    display:block;
    width:100%;
}
</style>

<script>
function timetableSwitch(){
  document.getElementById('showTimetable').style.display='none';
  document.getElementById('showTable').style.display='block';
}
function tableSwitch(){
  document.getElementById('showTable').style.display='none';
  document.getElementById('showTimetable').style.display='block';
}
</script>

<a id = "showTimetable" href="#timetable" onclick="timetableSwitch()"> Switch to timetable view</a>
<a id = "showTable" href="#table" onclick="tableSwitch()"> Switch to table view</a>



<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Time Block</th>
        {% for i in dates %}
                <th scope="col">{{i}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in times %}
      <tr>
        <th scope="table" class="table-light">{{i}}</th>
        {% for i in dates %}
          <td>X</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<table id="data" class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col" width="80px;">Select</th>
      {% for field in fields %}
      <th scope="col">{{field}}</th>
      {% endfor %} {% for action in enabled_actions %}
      <th scope="col" style="width:40px;"></th>
      {% endfor %}

    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr id="{{item[0]}}">
      <td><input type="checkbox" id="select{{item[0]}}" onchange='highlight({{item[0]}});' autocomplete="off"></td>
      {% for attribute in item %}
      <td>{{attribute}}</td>
      {% endfor %} {% for action in enabled_actions %}
      <img href={{enabled_actions[ 'icon']}}>
      <span class="glyphicon glyphicon-remove"></span> {% endfor %}
      <th scope="col" style="width:40px;"><span class="fa fa-edit" data-toggle="modal" data-target="#editModal_{{item[0]}}"></span></th>
      <th scope="col" style="width:40px;"><span class="fa fa-trash"></span></th>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--

<div class="modal fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-inverse">
        <h5 class="modal-title text-white" id="exampleModalLabel">Add New {{element_type}}</h5>
        <button type="button" class="close" style="color:#fff" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        {% for field in fielded %}
			{% if field[1] %}
				<div class="form-group row">
				  <label for="example-text-input" class="col-2 col-form-label">{{field[0]}}</label>
				  <div class="col-10">
					<input class="form-control" type="text" value="" id="add-new-{{field[0]}}">
				  </div>
				</div>
			{% endif %}
        {% endfor %}



        </form>
      </div>
      <div class="modal-footer" style="color:">
        <button href="#" type="submit" id="submit_add_new" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="tableToolbar">
  <span id="tableControls" style="float:right;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newElementModal">          <span class="fa fa-plus"></span> Add new</button>
  <span id="selectionOptions" style="display: none;">
<button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#editMultipleModal"><span class="fa fa-edit"></span> Edit Selected</button>
  <button type="button" class="btn btn-danger"><span class="fa fa-trash"></span> Delete Selected</button>
  </span>
  <button type="button" class="btn btn-danger"><span class="fa fa-trash"></span> Delete all</button>

  </span>

</div>


-->

{% endblock %}
